/*
  Variables
*/

@import url('https://fonts.googleapis.com/css?family=Lobster');

blue = #125688
offwhite = #fafafa
lightgrey  = #EDEEED

html
  font-size 10px
  font-family sans-serif

p
  font-size 1.6rem
  line-height 1.5

h1
  font-family Lobster, 'Lobster'
  transform rotate(-7deg)
  text-align center
  font-weight: 100
  font-size 11rem
  margin 2rem 0
  padding-bottom: 3rem
  letter-spacing -2px
  text-shadow 0px 4px 0 rgba(18, 86, 136, 0.11)
  a
    color blue
    text-decoration none
    &:focus
      outline 0

h2
  font-family Lobster, 'Lobster'
  text-align center
  font-weight 100
  transform rotate(-7deg)
  color: darken(lightgrey, 30%)
  text-shadow 0px -1px 0 rgba(18, 86, 136, 0.11)
  font-size: 3rem

h3
  text-align center
  color: darken(lightgrey, 20%)
